* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(espaco.png);
}

.cabecalho {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img_topo {
    width: 8pc;
    margin-right: 30pc;
}
.topo {
    display: flex;
    gap: 32px;
}
.item_topo {
    cursor: pointer;
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
}
.item_topo:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 50px white;
}

.item_topo:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition: 0.5s;
}
.item_topo:hover:before{
    width: 100%;
    height: 100%;
}
.item_topo:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: 0.5s;
}
.item_topo:hover::after{
    width: 100%;
    height: 100%;
}

.corpo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 86vh;
    width: 100vw;
}

.texto1 {
    color: white;
    font-size: 34px;
    color: rgb(189, 189, 189);
}
.texto2 {
    font-size: 10pc;
}
.texto3 {
    color: rgb(189, 189, 189);
    font-size: 23px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20pc;
    transform:  translate(-50,-50);
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    background: linear-gradient(100deg, rgb(0, 225, 255),rgb(123, 255, 0),rgb(238, 255, 0),rgb(0, 225, 255));
    background-size: 400%;
    border-radius: 200px;
}
.circle:hover {
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% { 
    background-position: 0%;
    } 
    100% { 
    background-position: 400%;
    }
}

.btn {
    background: transparent;
    font-size: 30px;
    color: white;
}
